body{
    background-color:whitesmoke;
    font-size: 23px;
}

p{
font-family: cursive, fantasy;
} 

.imgM{
    width: 180px;
}

.imgP{
    width: 210px;
    height: 280px;
}

.imgG{
    width: 150px;
    height: 270px;
}

.paragrafo{
    width: 1200px
}